In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Data = pd.read_csv("./onlinefraud.xls")
Data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [52]:
data = Data.sample(n=500, random_state=42)
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3737323,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0,0
264914,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0,0
85647,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0,0
5899326,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0,0
2544263,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0,0

In [53]:
len(data)

500

In [54]:
data["type"] = data["type"].map({"CASH_OUT": 1, "PAYMENT": 2, "CASH_IN": 3, "TRANSFER": 4, "DEBIT":5})
data["isFraud"] = data["isFraud"].map({0: "No Fraud", 1: "Fraud"})
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3737323,278,3,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,No Fraud,0
264914,15,2,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,No Fraud,0
85647,10,3,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,No Fraud,0
5899326,403,4,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,No Fraud,0
2544263,206,3,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,No Fraud,0

In [55]:
# Splitting the data
from sklearn.model_selection import train_test_split
x = np.array(data[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(data[["isFraud"]])

In [56]:
from sklearn.svm import SVC
Xtrain, Xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=50)

In [57]:
from sklearn.impute import SimpleImputer

# Create an imputer to replace NaNs with the mean (or median, or most frequent)
imputer = SimpleImputer(strategy='mean')
xtrain = imputer.fit_transform(Xtrain)
xtest = imputer.transform(Xtest)

In [58]:
model_li =  SVC(kernel = 'linear', random_state = 0)
model_li.fit(xtrain, ytrain)
model_li.score(xtest, ytest)

C:\Users\saisa\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [59]:
features = np.array([[4, 9000.60, 9000.60, 0.0]])
print(model_li.predict(features))

['No Fraud']

In [83]:
from sklearn.metrics import mean_squared_error, r2_score

In [85]:
y_pred = model_li.predict(xtest)

In [63]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [64]:
le = LabelEncoder()
ytest_num = le.fit_transform(ytest)
ypred_num = le.transform(y_pred)

C:\Users\saisa\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [65]:
rmse = np.sqrt(mean_squared_error(ytest_num, ypred_num))
r2 = r2_score(ytest_num, ypred_num)

In [66]:
print(f"\nRMSE (numeric comparison only): {rmse:.3f}")
print(f"R² Score (numeric comparison only): {r2:.3f}")

RMSE (numeric comparison only): 0.000
R² Score (numeric comparison only): 1.000